.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #272727;
    padding: 10px 20px;
  }
  
  .lg-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }
  
  .header-list-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Roboto';
  }
  .logo-image {
    width: 120px;
  }
  
  .header-list-item {
    font-size: 18px;
    margin-right: 20px;
    color: #ffffff;
    font-weight: bold;
  }
  
  .link {
    text-decoration: none;
  }
  
  .logout-lg-button {
    background-color: #4f46e5;
    color: #ffffff;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .sm-header-container {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0px;
  }
  
  .sm-header-list1 {
    margin-right: 15px;
  }
  
  .sm-header-list2 {
    margin-right: 10px;
  }
  
  .logout-sm-button {
    border: none;
    outline: none;
    background-color: transparent;
  }
  
  @media (min-width: 768px) {
    .header-container {
      padding: 15px 30px;
    }
    .sm-header-container {
      display: none;
    }
    .logo-image {
      width: 140px;
    }
  }
  
  @media (max-width: 767px) {
    .lg-header-container {
      display: none;
    }
  }
  