.job-portal-container {
    background-color: #000000;
    min-height: 100vh;
    font-family: 'Roboto';
    padding: 20px;
    color: #ffffff;
  }
  
  .individual-job-list-card {
    background-color: #272727;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .similar-job-container {
    font-family: 'Roboto';
  }
  
  .similar-job-heading {
    font-weight: bold;
  }
  
  .similar-job-list {
    list-style: none;
    padding: 0px;
  }
  
  .similar-job-list-card {
    background-color: #272727;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .job-logo {
    height: 50px;
    width: 50px;
  }
  
  .job-header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .title-container {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 0.5;
  }
  
  .title-card {
    color: white;
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  .similar-title-card {
    color: white;
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  .job-rating-star {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
  .star-image {
    width: 15px;
    height: 15px;
    color: #fbbf24;
    margin-right: 5px;
  }
  
  .star-num {
    color: #ffffff;
  }
  
  .job-describe-heading {
    font-weight: bold;
    color: #f1f5f9;
  }
  
  .job-description {
    color: #f1f5f9;
    line-height: 2;
  }
  
  .job-location-type {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
  }
  
  .icon-image {
    margin-right: 7px;
    height: 15px;
    width: 15px;
  }
  
  .location-type {
    margin-right: 20px;
  }
  
  .loader-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .location-type-package-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .location-type-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
  .location-type {
    margin-right: 20px;
  }
  
  .description-link-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .skills-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
  }
  
  .skills-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .skills-image {
    width: 30px;
    margin-right: 10px;
  }
  
  .link {
    text-decoration: none;
    color: #ffffff;
  }
  
  .failure-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .failure-image {
    width: 75%;
  }
  
  .failure-heading {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
  }
  
  .failure-description {
    text-align: center;
  }
  
  .retry-button {
    background-color: #4f46e5;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: 80px;
    font-weight: bold;
    border: none;
    outline: none;
  }
  
  .life-image {
    width: 100%;
  }
  
  .job-description,
  .life-description {
    line-height: 2;
  }
  
  .title-card,
  .similar-job-heading,
  .skills-heading,
  .package-annum {
    font-size: 16px;
  }
  
  .description-heading,
  .skills-heading,
  .life-heading,
  .similar-title-card,
  .job-describe-heading,
  .star-num {
    font-size: 15px;
  }
  
  .search,
  .job-description,
  .location-type,
  .life-description {
    font-size: 14px;
  }
  
  @media (min-width: 768px) {
    .job-portal-container {
      padding: 30px;
    }
  
    .skills-image {
      width: 50px;
      margin-right: 20px;
    }
  
    .skills-card {
      width: 31%;
    }
    .similar-job-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .similar-job-list-card {
      width: 31%;
      margin-right: 20px;
    }
    .life-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .life-description {
      width: 65%;
      margin-right: 20px;
    }
    .life-image {
      width: 35%;
    }
    .failure-image {
      width: 55%;
    }
  
    .profile-picture,
    .job-logo {
      height: 80px;
      width: 80px;
    }
  
    .title-container {
      line-height: 1;
      margin-left: 20px;
    }
  
    .title-card,
    .similar-job-heading,
    .skills-heading,
    .package-annum {
      font-size: 22px;
    }
  
    .description-heading,
    .skills-heading,
    .life-heading,
    .similar-title-card,
    .job-describe-heading,
    .star-num {
      font-size: 18px;
    }
  
    .search,
    .job-description,
    .location-type,
    .life-description {
      font-size: 16px;
    }
  }
  